/* Media Queries Responsive Design */

/* Smartphone écran standard */
@media all and (max-width: 480px) {
    /* Navigation start */
    .card-menu-section-1 .card-menu-section-heading, .card-menu-section-1 .card-menu-menu-btn:before{
        top: 3%;
        left: 20%;
    }

    .card-menu-section-2 .card-menu-section-heading, .card-menu-section-2 .card-menu-menu-btn:before {
        top: 3%;
        left: 20%;
    }

    .card-menu-section-heading {
        top: 3%;
        left: 20%;
    }

    .card-menu.menu-active .card-menu-section-1 {
        transform: translate3d(0px, 60px, 0);
    }

    .card-menu.menu-active .card-menu-section-2 {
        transform: translate3d(0px, 120px, 0);
    }

    .card-menu.menu-active .card-menu-section-3 {
        transform: translate3d(0px, 180px, 0);
    }

    .card-menu-section-4 .card-menu-section-heading, .card-menu-section-4 .card-menu-menu-btn:before {
        top: 3%;
        left: 17%;
    }

    .card-menu-section {
        overflow: scroll;
    }

    .card-menu.menu-active .card-menu-section-4 {
        transform: translate3d(0px, 240px, 0);
    }
    /* Navigation end */

    /* Section présentation start */
    .home {
        overflow: scroll;
        font-size: 12px;
        width: 100%;
        height: 100vh;
    }

    .home-text {
        top: 3%;
        padding: 20px;
    }
    .square {
        width: 300px;
        height: 300px;
    }

    .pro-links {
        width: 80px;
        height: 80px;
    }

    .linkedin.lined-linkedin {
        transform: translateX(50%);
    }

    .github.lined-github {
        transform: translateY(50%);
    }
    /* Section présentation end */

    /* Section Compétences start */
    .stacks {
        overflow: scroll;
    }

    .blabla-stacks {
        bottom: 65%;
        left: 5%;
    }

    .welcome {
        font-size: 13px;
    }
    .container {
        width: 100%;
    }

    .card {
        height: 100px;
    }

    .title {
        font-size: 14px;
        left: 5%;
    }

    svg {
        display: none;
    }
    .marketing-logo, .wp-logo, .tools-logo, .php-logo, .js-logo, .htmlcss-logo, .experience-logo , .bar{
        display: none;
    }

    .skill-line {
        top: 23%;
        height: 20px;
    }

    .skill-p1 {
        width: 100%;
        height: 15%;
        top: 35%;
    }
    .skill-p2 {
        width: 100%;
        height: 15%;
        top: 50%;
        left: 0;
    }
    .skill-p3 {
        width: 100%;
        height: 15%;
        top: 65%;
        left: 0;
    }
    .skill-p4 {
        width: 100%;
        height: 15%;
        top: 80%;
        left: 0;
    }
    .skill-p5 {
        width: 100%;
        height: 15%;
        top: 95%;
        left: 0;
    }

    .block-illustration {
        z-index: -1;
        width: 80px;
    }

    .ocr-link {
        bottom: 0;
        right: 0;
    }

    .windows-logo, .apple-logo {
        width: 50px;
    }
    /* Section Compétences end */

    /* Section Travaux start */
    .global-container .box {
        width: 115px;
        height: 115px;
        border-radius: 20px;
    }

    .global-container .box.activeB {
        width: 100vw;
        height: 100vh;
    }
    .global-container .box:not(.activeB):hover .contentB h2 {
        font-size: 10px;
    }
    
    .global-container .box:not(.activeB):hover .contentB p {
        font-size: 9px;
    }

    .work-content {
        font-size: 12px;
        padding: 12px;
        height: auto;
    }

    .annexe-blocks {
        width: 100%;
        margin-top: 30px;
        font-size: 14px;
        justify-content: space-around;
        flex-direction: column;
    }

    .work-links {
        width: 100%;
        padding: 0;
        margin-bottom: 50px;
    }

    .work-skills {
        width: 100%;
    }



    .lg {
        position: inherit;
    }
    /* Section Travaux end */
    /* Section Contact Cv start */
    .form {
        width: 100vw;
        left: 0;
        border: solid 1px grey;
    }

    .form-title {
        font-size: 1.1em;
    }

    input:not([type="radio"]), select {
        left: 35%;
    }

    input:not([type="radio"]), select {
        font-size: 20px;
    }

    div.btn {
        right: -25%;
    }

    .right {
        right: -20%
    }

    .welcome-form .content-welcome {
        top: 30%;
        left: 15%;
    }

    .cv {
        width: 200px;
        height: 200px;
        left: 25%;
    }

    .cv-label {
        left: 0;
        font-size: 1.2em;
    }

    .bg-circle {
        width: 100vh;
        height: 100vh;
    }
    /* Section Contact Cv end */

}

@media all and (min-width: 481px) and (max-width: 1024px) {
    /* Navigation strat */
    .card-menu-section-1 .card-menu-section-heading, .card-menu-section-1 .card-menu-menu-btn:before, .card-menu-section-heading, .card-menu-section-2 .card-menu-section-heading, .card-menu-section-2 .card-menu-menu-btn:before, .card-menu-section-4 .card-menu-section-heading, .card-menu-section-4 .card-menu-menu-btn:before {
        left: 10%;
    }
    /* Navigation end */

    /* Section présentation start */
    .home {
        height: 85vh;
        width: 100%;
    }
    /* Section présentation end */

    /* Section Compétences start */
    .container {
        width: 100%;
    }

    .tools-logo {
        transform: translateY(0px, 600px);
    }
    /* Section Compétences end */

    /* Section Travaux start */
    .global-container .box {
        width: 205px;
        height: 205px;
        border-radius: 50px;
    }

    .annexe-blocks {
        width: 100%;
    }

    .work-links {
        padding: 30px;
    }
    /* Section Travaux end */

    /* Section Contact start */
    input:not([type="radio"]), select {
        left: 32%;
    }

    .form {
        border: solid 1px grey;
        width: 100%;
        left: 0;
    }

    div.btn {
        right: 5%;
    }

    input:not([type="radio"]), select {
        font-size: 20px;
    }

    .cv {
        left: 30%;
    }
    /* Section Contact end */
}