@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100&display=swap');

* {
    padding: 0;
    margin: 0;
}
body {
    background: #1C182F;
    overflow: hidden;
}

h1, h2, h3, p, a{
    font-family: 'Source Code Pro', monospace;
    color: #fff;
}
h2 {
    text-transform: uppercase;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
    margin: 10px;
}

/* Template navigation */
/* Home */
.card-menu-section-1 {
     background-image: linear-gradient(to top, rgb(0 0 0), rgb(68 93 144 / 54%)), url(../images/backgrounds/home.jpg);
     background-size: cover;
}
/* Stacks */
.card-menu-section-2 {
    background-image: linear-gradient(to top, rgb(5 7 14), rgb(8 12 19 / 84%), rgb(1 25 42)), url(../images/backgrounds/skills.jpg);
     background-size: cover;
}

/* Works */
.card-menu-section-3 {
    background-image: linear-gradient(to top, #585973a3, rgb(102 105 125 / 43%), rgb(0 0 0 / 68%)), url(../images/backgrounds/works.jpg);
    background-size: cover;
    transition: background 0.5s linear;
}
.dark-mode {
    background-image: linear-gradient(to top, #000000, rgb(102 105 125 / 71%), rgb(0 0 0 / 82%)), url(../images/backgrounds/works.jpg);
    transition: background 0.5s linear;
}

/* CV + Contact */
.card-menu-section-4 {
    background-image: linear-gradient(to top, #585973a3, rgb(102 105 125 / 43%), rgb(255 255 255 / 72%)), url(../images/backgrounds/cv.jpg);
     background-size: cover;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}

.card-menu {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  background:#565f73;
  background-size: cover;
  border-radius: 6px;
}

.card-menu-close-menu {
  position: absolute;
  left: 22px;
  top: 22px;
  width: 29px;
  cursor: pointer;
}

.card-menu-close-menu:before, .card-menu-close-menu:after {
  content: "";
  position: absolute;
  left: 0;
  top: 8px;
  width: 100%;
  height: 4px;
  background:#fff;
}

.card-menu-close-menu:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.card-menu-close-menu:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.card-menu-section {
  overflow: hidden;
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  will-change: transform;
}

.card-menu.menu-active .card-menu-section-1 {
  -webkit-transform: translate3d(20px, 60px, 0);
  transform: translate3d(20px, 60px, 0);
}

.card-menu-section-1.inactive {
  -webkit-transform: translate3d(100%, 60px, 0);
  transform: translate3d(100%, 60px, 0);
}

.card-menu.menu-active .card-menu-section-2 {
  -webkit-transform: translate3d(40px, 120px, 0);
  transform: translate3d(40px, 120px, 0);
}

.card-menu-section-2.inactive {
  -webkit-transform: translate3d(100%, 120px, 0);
  transform: translate3d(100%, 120px, 0);
}

.card-menu.menu-active .card-menu-section-3 {
  -webkit-transform: translate3d(60px, 180px, 0);
  transform: translate3d(60px, 180px, 0);
}

.card-menu-section-3.inactive {
  -webkit-transform: translate3d(100%, 180px, 0);
  transform: translate3d(100%, 180px, 0);
}

.card-menu.menu-active .card-menu-section-4 {
  -webkit-transform: translate3d(80px, 240px, 0);
  transform: translate3d(80px, 240px, 0);
}

.card-menu-section-4.inactive {
  -webkit-transform: translate3d(100%, 240px, 0);
  transform: translate3d(100%, 240px, 0);
}

.card-menu.menu-active .card-menu-section { 
    cursor: pointer; 
}

.card-menu-section-1 .card-menu-section-heading, .card-menu-section-1 .card-menu-menu-btn:before {
    color: #6dc593; 
    position: absolute;
    font-size: 1.2em;
    top: 2%;
    left: 5%;
}

.card-menu-section-2 .card-menu-section-heading, .card-menu-section-2 .card-menu-menu-btn:before {
    color: #FFE26F; 
    position: absolute;
    font-size: 1.2em;
    top: 2%;
    left: 5%;
}

.card-menu__section-3 .card-menu-section-heading, .card-menu-section-3 .card-menu-menu-btn:before {
    color: #AD4A5D; 
    position: absolute;
    font-size: 1.2em;
    top: 2%;
    left: 5%;
}

.card-menu-section-4 .card-menu-section-heading, .card-menu-section-4 .card-menu-menu-btn:before {
    color: #AD4A5D; 
    position: absolute;
    font-size: 1.2em;
    top: 2%;
    left: 5%;
}

.card-menu-section-heading {
    position: absolute;
    color: #000106;
    top: 2%;
    left: 5%;
    text-transform: uppercase;
    font-size: 1.2em;
    -webkit-transition: -webkit-transform 0.4s;
    transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
    transition: transform 0.4s, -webkit-transform 0.4s;
}

.card-menu.menu-active .card-menu-section-heading {
  -webkit-transform: translateX(-45px);
  transform: translateX(-45px);
}

.card-menu-menu-btn {
  position: absolute;
  left: 20px;
  top: 20px;
  width: 28px;
  height: 22px;
  -webkit-transition: opacity 0.2s 0.2s;
  transition: opacity 0.2s 0.2s;
  cursor: pointer;
}

.card-menu.menu-active .card-menu-menu-btn {
  pointer-events: none;
  opacity: 0;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.card-menu-menu-btn:before {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  border-radius: 2px;
  background: currentColor;
  box-shadow: 0 8px, 0 16px;
}

/* Home */
.home {
    width: 80%;
    height: 80vh;
    margin: auto;
    margin-top: 5%;
    text-align: center;
    display: flex;
}


/* Bubble effects */
.square {
    position: relative;
    margin: auto;
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .5s;
}

.square .s:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #fff;
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    transition: .5s;
    animation: animate 17s linear infinite;
}

.square:hover .s:nth-child(1) {
    border: none;
    opacity: 0.2;
    background: #37bcc3;
    box-shadow: 0px 0px 40px #6dc593;
}

.square .s:nth-child(2) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #fff;
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    transition: .5s;
    animation: animate 15s linear infinite;
}

.square:hover .s:nth-child(2) {
    border: none;
    opacity: 0.2;
    background: #37bcc3;
    box-shadow: 0px 0px 40px #6dc593;
    animation: wtf2 10s linear infinite; 
}

.square .s:nth-child(3) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #fff;
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    transition: .5s;
    animation: animate2 20s linear infinite;
}

.square:hover .s:nth-child(3) {
    border: none;
    opacity: 0.2;
    background: #37bcc3;
    box-shadow: 0px 0px 40px #6dc593;
    animation: wtf 10s linear infinite; 
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate2 {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes wtf {
    0% {
        transform: translateX(0) translateY(0);
    }
    20% {
        transform: translateX(-250px) translateY(-250px) rotateZ(72deg);
    }
    40% {
        transform: translateX(200px) translateY(-200px) rotateZ(144deg);
    }
    60% {
        transform: translateX(200px) translateY(200px) rotateZ(216deg);
    } 
    80% {
        transform: translateX(-200px) translateY(200px) rotateZ(288deg);
    }
    100% {
        transform: translateX(0) translateY(0) rotateZ(360deg);
    }
}
@keyframes wtf2 {
    0% {
        transform: translateX(0) translateY(0);
    }
    20% {
        transform: translateX(200px) translateY(200px) rotateZ(72deg);
    }
    40% {
        transform: translateX(-200px) translateY(200px) rotateZ(144deg);
    }
    60% {
        transform: translateX(-200px) translateY(-200px) rotateZ(216deg);
    } 
    80% {
        transform: translateX(200px) translateY(-200px) rotateZ(288deg);
    }
    100% {
        transform: translateX(0) translateY(0) rotateZ(360deg);
    }
}

.content {
    position: absolute;
    top:0;
    padding: 40px 60px;
    color: #fff;
    text-align: center;
    transition: .5s;
}
@keyframes backcontent {
    from {
        transform: translateX(-1000px);
        opacity: 0;
    } to {
        transform: translateX(0);
        opacity: 1;
    }
}
.content .heading {
    margin: 0;
    position: relative;
    overflow: hidden;
}

.content .heading span {
    font-size: 2.5em;
    color: #ff9000;
    display: inline-block;
}
.content.reveal .heading span {
    opacity: 0;
    animation: headingIn .5s ease forwards;
    animation-delay: 1.2s;
}

@keyframes headingIn {
    from {
        transform: translateY(100%);
        opacity: 1;
    } to {
        transform: translateY(0);
        opacity: 1;
    }
}
.content .sub-heading {
    margin-top: 15px;
    position: relative;
    overflow: hidden;
    font-weight: normal;
    font-family: 'Source Code Pro', monospace;
}
.content .sub-heading span {
    font-size: 1.5em;
    color: #d0d0d0;
    display: inline-block;
}
.content .line {
    height: 5px;
    background-color: #d0d0d0;
}
.content.reveal .line {
    animation: lineIn 1s linear forwards;
}

@keyframes lineIn {
    from {
        width: 0%;
    } to {
        width: 100%;
    }
}
.content.reveal .sub-heading span {
    opacity: 0;
    animation: subHeadIn .5s ease  forwards;
    animation-delay: 1s;
}

@keyframes subHeadIn {
    from {
        transform: translateY(-100%);
        opacity: 1;
    } to {
        transform: translateY(0);
        opacity: 1;
    }
}

.content h2 {
    margin-bottom: 20%;
    font-size: 2em;
}

.home-text {
    position: absolute;
    top: 0;
    display: none;
    color: #fff;
    margin-bottom: 10%;
    padding: 40px 60px;
    text-align: center;
    transition: .5s;
    z-index: 1000;
    transition: .5s;
    border-radius: 50px;
    box-shadow: -3px -3px 75px #1e636b;
    background: #041c2e;
}
@keyframes push {
    from {
        transform: translateX(1000px);
        opacity: 0;
    } to {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes pushback {
    from {
        transform: translateX(0);
        opacity: 1;
    } to {
        transform: translateX(1000px);
        opacity: 0;
    }
}

.home-text .line {
    width: 80%;
    height: 70px;
    position: relative;
    overflow: hidden;
    text-align: center;
    margin: auto;
}

.home-text .line p {
    position: absolute;
}

.home-text h2 {
    margin-bottom: 3%;
    font-size: 2em;
}

.home-text p {
    margin: 10px;
}

.pro-links {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: #2c4461;
    border-radius: 20px;
    cursor: pointer;
    width: 100px;
    height: 100px;
    transition: .2s;
    z-index: 1;
    transition-duration: 1.3s;
    animation: prolinks 1s infinite ease-in-out;
}
@keyframes prolinks {
    from {
        opacity: 0.8;
    } to {
        opacity: 1;
    }
}

.pro-links.fat {
    transform: scale(1.8);
    border-radius: 50%;
    background: transparent;
}

.pro-links img {
    position: absolute;
    top: 7%;
    left: -15%;
    width: 130%;
    height: 80%;
}

.linkedin {
    position: absolute;
    bottom: 20px;
    right: 100px;
    width: 200px;
    height: 80px;
    border-radius: 20px;
    transform: translateX(100%);
    transition: .8s;
    transition-delay: .2s;
    opacity: 0;
}

.linkedin.lined-linkedin {
    transform: translateX(0);
    opacity: 1;
}

.linkedin img {
    width: 80px;
    height: 100%;
    transition: .2s;
}

.linkedin img:hover {
    transform: scale(1.1);
}

.github {
    position: absolute;
    width: 80px;
    height: 200px;
    border-radius: 20px;
    right: 20px;
    bottom: 100px;
    transform: translateY(100%);
    transition: .8s;
    transition-delay: .2s;
    opacity: 0;
}

.github.lined-github {
    transform: translateY(0);
    opacity: 1;
}

.github.lined-github:hover {
    transform: scale(1.1);
}

.github img {
    height: 80px;
    width: 100%;
    background: #fff;
    border-radius: 5px;
    padding: 5px;
}

/* Section stacks start*/
.blabla-stacks {
    position: absolute;
    bottom: 35%;
    left: 29%;
}
.bg-stacks {
    position: absolute;
    width: 100vw;
    height: 350px;
    bottom: 0;
    z-index: -1;
    opacity: 0.1;
}
.bg-stacks img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}
.bg-stacks img{
    width: 100%;
    height: 100%;
}
.stacks {
    position: relative;
    width: 100%;
    height: 92vh;
    margin-top: 60px;
    margin-bottom: 7%;
    overflow: hidden;
}

.stacks-title {
    position: absolute;
    top: 2%;
    left: 45%;
}

.container {
    margin: auto;
    margin-top: 40px;
    height: 300px;
    width: 52%;
    top: 60px;
    left: calc(50% - 300px);
    display: flex;
  }
  @keyframes cardContainer {
      from {
          opacity: 0;
          filter: blur(10px);
          transform: translateY(400px);
      } to {
          opacity: 1;
          filter: blur(4px);
          transform: translateY(0);
      }
  }
  
  .card {
    cursor: pointer;
    display: flex;
    height: 280px;
    width: 200px;
    background-color: #17141d;
    border-radius: 10px;
    box-shadow:inset 0px 1px 75px #000000;
    transition: 0.4s ease-out;
    position: relative;
    left: 0px;
  }

  .htmlcss, .javascript, .php, .librairies {
    transition: all ease .5s;
  }
  .htmlcss {
    background-color: #1a84c2;
  }
  .javascript {
    background-color: #b59c2b;
  }
  .php {
    background-color: #5e7db1;
  }
  .librairies {
    background-color: rgb(122, 70, 70);
  }
  .cms {
      background-color: rgb(33 116 153);
  }
  
  .card:not(:first-child) {
      margin-left: -50px;
  }
  .card:not(.active) {
      filter: blur(1px);
  }
  .card.active {
      transition: 1s;
      transform: translateY(-35px);
      box-shadow: 0px 12px 20px #106192;
  }

  .card.active img {
      opacity: 1;
  }
  
  .card:hover:not(.active) {
    transform: translateY(-20px);
    transition: 0.4s ease-out;
  }
  
  .card:hover ~ .card:not(.active) {
    position: relative;
    left: 50px;
    transition: 0.4s ease-out;
  }
  
  .title {
    color: white;
    font-weight: 300;
    position: absolute;
    left: 20px;
    top: 15px;
  }
  
  .bar {
    position: absolute;
    top: 100px;
    left: 20px;
    height: 5px;
    width: 80%;
  }
  
  .emptybar {
    background-color: #2e3033;
    width: 100%;
    height: 100%;
  }
  
  .filledbar {
    position: absolute;
    top: 0px;
    z-index: 3;
    width: 0px;
    height: 100%;
    background: rgb(0,154,217);
    background: linear-gradient(90deg, rgba(0,154,217,1) 0%, rgba(217,147,0,1) 65%, rgba(255,186,0,1) 100%);
    transition: 0.6s ease-out;
  }
  
  .card:hover .filledbar {
    transition: 0.4s ease-out;
  }

  .card:hover .firstbar  {
    width: 90%;
    transform: 0.4s ease-out;
  }
  .card:hover .secondbar  {
    width: 85%;
    transform: 0.4s ease-out;
  }
  .card:hover .thirdbar  {
    width: 75%;
    transform: 0.4s ease-out;
  }
  .card:hover .fourthbar  {
    width: 70%;
    transform: 0.4s ease-out;
  }
  .card:hover .fifthbar  {
    width: 60%;
    transform: 0.4s ease-out;
  }
  
  .circle {
    position: absolute;
    top: 150px;
    left: calc(50% - 60px);
  }
  
  .stroke {
    stroke: rgba(128, 255, 132, 0.6);
    stroke-dasharray: 360;
    stroke-dashoffset: 360;
    transition: 0.6s ease-out;
  }
  
  .card:hover .stroke.firstbar {
    stroke-dashoffset: 70;
    transition: 0.6s ease-out;
  }
  .card:hover .stroke.secondbar {
    stroke-dashoffset: 80;
    transition: 0.6s ease-out;
  }
  .card:hover .stroke.thirdbar {
    stroke-dashoffset: 100;
    transition: 0.6s ease-out;
  }
  .card:hover .stroke.fourthbar {
    stroke-dashoffset: 135;
    transition: 0.6s ease-out;
  }
  .card:hover .stroke.fifthbar {
    stroke-dashoffset: 150;
    transition: 0.6s ease-out;
  }
  .card:hover .stroke.sixthbar {
    stroke-dashoffset: 40;
    transition: 0.6s ease-out;
  }

  svg {
    stroke-width: 5px;
  }

.htmlcss-logo {
    position: absolute;
    width: 80px;
    height: 52px;
    top: 18%;
    left: 6%;
    opacity: 0.3;
    transition: .5s;
}
.js-logo {
    position: absolute;
    top: 21%;
    left: 2%;
    width: 108px;
    height: 55px;
    opacity: 0.3;
    transition: .5s;
}
.php-logo {
    position: absolute;
    top: 24%;
    left: 6%;
    width: 82px;
    opacity: 0.3;
    transition: .5s;
}
.tools-logo {
    position: absolute;
    width: 80px;
    top: 11%;
    left: 5%;
    opacity: 0.3;
    transition: .5s;
}

.wp-logo {
    position: absolute;
    top: 21%;
    left: 6%;
    width: 80px;
    opacity: 0.3;
    transition: .5s;
}

.marketing-logo {
    position: absolute;
    top: 8%;
    left: 4%;
    width: 96px;
    height: 96px;
    opacity: 0.3;
    transition: .5s;
}

.experience-logo {
    position: absolute;
    top: 12%;
    left: 6%;
    width: 80px;
    transition: .5s;
}
.move {
    position: absolute;
    
}

.card:hover .htmlcss-logo, .card:hover .js-logo, .card:hover .php-logo, .card:hover .tools-logo, .card:hover .wp-logo, .card:hover .marketing-logo {
    opacity: 1;
}
.htmlcss:hover, .javascript:hover, .php:hover, .librairies:hover, .cms:hover, .marketing:hover, .experience:hover {
    filter: blur(0);
} 
  /* Skill container */
  .skill-container {
    width: 100%;
    height: 50vh;
    margin-top: 5%;
  }

  .skill-line {
      display: none;
      content: '';
      width: 1px;
      height: 62px;
      background-color: #fff;
      position: absolute;
      top: 42%;
      left: 50%;
      animation: skillLine .5s linear;
  }
  @keyframes skillLine {
      from {
          height: 0;
      } to {
          height: 62px;
      }
  }
  .skill-line::before {
      content: '';
      width: 400px;
      height: 1px;
      background-color: #fff;
      position: absolute;
      bottom: 0;
      animation: before 2s forwards;
      animation-delay: .5s;
      opacity: 0;
  }
  @keyframes before {
      from {
          width: 0;
          opacity: 0;
      } to{
          width: 400px;
          opacity: 1;
      }
  }
  .skill-line::after {
      content: '';
      width: 400px;
      height: 1px;
      position: absolute;
      bottom: 0;
      left: -400px;
      animation: after 2s forwards;
      animation-delay: .5s;
      border-right: solid 0px #fff;
  }
  @keyframes after {
      from {
          opacity: 0;
          border-right: solid 1px #fff;
      } to {
          opacity: 1;
          border-right: solid 400px #fff;
      }
  }

  .skill-title {
      color: #fff;
      text-align: center;
  }

  .welcome {
      text-align: center;
  }
  .welcome h2 {
      font-size: 4em;
      color: #333;
  }
  .welcome h2 .letter {
      animation: shine 3s linear infinite;
  }
  .welcome h2 .letter:nth-child(1) {
    animation-delay: 0s;
}
.welcome h2 .letter:nth-child(2) {
    animation-delay: 0.5s;
}
.welcome h2 .letter:nth-child(3) {
    animation-delay: 1s;
}
.welcome h2 .letter:nth-child(4) {
    animation-delay: 1.5s;
}
.welcome h2 .letter:nth-child(5) {
    animation-delay: 2s;
}
.welcome h2 .letter:nth-child(6) {
    animation-delay: 2.5s;
}
  @keyframes shine {
      0%, 80% {
          color: #333;
          text-shadow: none;
      } 100% {
          color: #fff;
          text-shadow: 0 0 10px #fff,
                    0 0 20px #fff,
                    0 0 40px #fff,
                    0 0 80px #fff,
                    0 0 120px #fff,
                    0 0 160px #fff;
      }
  }

  /************* Divs blocks floating space *************/
  .skill-p1 {
      position: absolute;
      width: 20%;
      height: 20%;
      bottom: 22%;
      left: 0;
  }
  @keyframes p1 {
      from {
          opacity: 0;
          transform: translateX(-300px);
      } to {
          opacity: 1;
          transform: translateY(0);
      }
  }
  .skill-p2 {
      position: absolute;
      width: 20%;
      height: 20%;
      bottom: 0;
      left: 20%;
  }
  @keyframes p2 {
      from {
          opacity: 0;
          transform: translateY(300px);
      } to {
          opacity: 1;
          transform: translateY(0);
      }
  }
  .skill-p3 {
    position: absolute;
    width: 20%;
    height: 20%;
    bottom: 22%;
    left: 40%;
  }
  @keyframes p3 {
    from {
        opacity: 0;
        transform: translateY(500px);
    } to {
        opacity: 1;
        transform: translateY(0);
    }
}
  .skill-p4 {
    position: absolute;
    width: 20%;
    height: 20%;
    bottom: 0;
    left: 60%;
  }
  @keyframes p4 {
    from {
        opacity: 0;
        transform: translateY(300px);
    } to {
        opacity: 1;
        transform: translateY(0);
    }
}
  .skill-p5 {
    position: absolute;
    width: 20%;
    height: 20%;
    bottom: 22%;
    left: 80%;
  }
  @keyframes p5 {
    from {
        opacity: 0;
        transform: translateX(300px);
    } to {
        opacity: 1;
        transform: translateX(0);
    }
}

.blocks {
    overflow: hidden;
    opacity: 0; 
    padding: 20px;
    text-align: center;
    color: #fff;
    font-family: 'Source Code Pro', monospace;
    border: 1px solid rgb(107, 106, 118);
    transition: .2s;
    background: #000000;
    border-radius: 8px;
    font-style: italic;
}

.blocks:hover {
    box-shadow: 0px 0px 20px #7f848e;
    border-radius: 25px;
    border: 5px solid rgb(107, 106, 118);
}
.blocks::before {
    content: '';
    position: absolute;
    top: -20%;
    left: 0;
    width: 150%;
    height: 150%;
    background-color: none;
    transition: .2s;
    background-color: #1a84c2;
    opacity: 0.2;
    transform: rotate(45deg) translateY(-70px);
}
.blocks:hover::before {
    transform: rotate(45deg) translateY(170px);
}

.blocks.skill-p4::after{
    display: none;
}

.block-illustration {
    opacity: 0;
    position: absolute;
    bottom: 1%;
    left: 1%;
    width: 50%;
}

.adjustment {
    width: 38%;
    height: 65%;
}

.ocr-link {
    position: absolute;
    bottom: 30%;
    right: 7%;
    color: #53ca53;
    transition: .5s;
}
.ocr-link:hover {
    text-shadow:5px 5px 4px #53ca53;
}

.malta-flag {
    opacity: 0;
    position: absolute;
    bottom: 1%;
    right: 1%;
    width: 80px;
}

.apple-logo {
    opacity: 0;
    position: absolute;
    width: 80px;
    bottom: 1%;
    right: 1%;
}

.windows-logo {
    opacity: 0;
    position: absolute;
    width: 80px;
    bottom: 1%;
    left: 1%;
}

  /* Section stacks end*/


  /* Work Content */
  .global-container {
    margin: auto;
    top: 60px;
    position: relative;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    transform-style: preserve-3d;
    perspective: 500px;
    justify-content: space-evenly;
}

.global-container .box {
    position: relative;
    width: 275px;
    height: 275px;
    background: #000;
    transition: .5s;
    transform-style: preserve-3d;
    overflow: hidden;
    margin-bottom: 40px;
    cursor: pointer;
    transition: .5s;
    border-radius: 60px;
}
@keyframes boxin {
    from {
        opacity: 0;
        transform: translateY(500px);
    } to {
        opacity: 1;
        transform: translateY(0);
    }
}

.global-container .box:not(.activeB):hover {
    transform: scale(1.15);
    z-index: 1;
    box-shadow: 0 0 40px rgb(255, 255, 255);
    border: inset 0px #00d0ff;
}

.global-container .box:not(.activeB):hover > .imgBx {
    filter: blur(2px);
}

.global-container .box.activeB {
    width: 100%;
    height: 50vh;
    position: absolute;
    top: 0;
    border-radius: 20px;
    opacity: 0.2;
    filter: blur(4px);
}

.global-container .box .imgBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: .5s;
}

.global-container .box .imgBx:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg,#0606068c, #000);
    z-index: 1;
    opacity: 0;
    transition: .5s;
    mix-blend-mode: multiply;
}

.global-container .box:not(.activeB):hover .imgBx:before {
    opacity: 1;
}

.global-container .box .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.global-container .box .contentB {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    padding: 20px;
    align-items: center;
    box-sizing: border-box;
    text-align: center;
    box-shadow:inset 0px 0px 30px #000000;
}

.global-container .box .contentB h2 {
    color: #fff;
    transition: .5s;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-size: 1.5em;
    transform: translateY(200px);
}

.global-container .box:not(.activeB):hover .contentB h2 {
    transform: translateY(0px);
    transition-delay: 0.5s;
}

.global-container .box .contentB p {
    color: #fff;
    transition: .5s;
    font-size: 14px;
    transform: translateY(200px);
}

.global-container .box:not(.activeB):hover .contentB p {
    transform: translateY(0px);
    transition-delay: 0.7s;
}

.work-content {
    display: none;
    text-align: center;
    background: rgb(0 0 0 / 82%);
    border-radius: 20px;
    transition: .5s;
    z-index: -1;
    padding: 50px;
    height: 50vh;
    width: 100%;
}

.work-title {
    color: #fff;
    margin-bottom: 30px;
    opacity: 0;
    animation: animeT 1s forwards;
}

.work-text {
    opacity: 0;
    animation: animeT 1s forwards;
    animation-delay: .5s;
}
@keyframes animeT {
    from {
        opacity: 0;
        transform: translateY(200px);
    } to {
        opacity: 1;
        transform: translateY(0);
    }
}

.work-links {
    display: none;
    border-radius: 20px;
    width: 40%;
    text-align: center;
    padding: 50px;
    border: 4px inset rgb(107, 106, 118);
    background: #18386dbf;
    animation: work-links .5s linear forwards;
}
@keyframes work-links {
    from {
        transform: translateX(-500px);
        opacity: 0;
    } to {
        transform: translateX(O);
        opacity: 1;
    }
}

.work-links a {
    margin: 10px;
}

.work-links p:hover {
    color: #000;
}

.website-link .source-code{
    transition: .2s;
}
.website-link:hover {
    font-style: italic;
    color: rgb(228, 228, 118);
}

.source-code:hover {
    font-style: italic;
    color: rgb(228, 228, 118);
}

.work-skills {
    display: none;
    border-radius: 20px;
    width: 40%;
    border: solid 1px #fff;
    text-align: center;
    padding: 20px;
    animation: work-skills .5s linear forwards;

    overflow: hidden;
    padding: 20px;
    color: #fff;
    border: 1px solid rgb(107, 106, 118);
    transition: .2s;
    border-radius: 20px;
    font-style: italic;
    background: #18386dbf;
}

.work-skills::before {
    content: '';
    width: 150%;
    height: 100%;
    background-color: #1a84c2;
    opacity: 0.2;
    position: absolute;
    top: 0;
    left: 15%;
    transform: rotate(45deg);
}
@keyframes work-skills {
    from {
        transform: translateX(500px);
        opacity: 0;
    } to {
        transform: translateX(0);
        opacity: 1;
    }
}

.work-skills p {
    font-style: italic;
}

.annexe-blocks {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-top: 50px;
}

.htmlcsslg {
    position: absolute;
    bottom: 5%;
    left: 37%;
    width: 25%;
    margin-top: 20px;
}

.htmlcssjslg {
    width: 45%;
    position: absolute;
    left: 27%;
}

.wplg {
    position: absolute;
    top: 24%;
    right: 8%;
    width: 25%;
}

.jqlg {
    position: absolute;
    bottom: 1%;
    right: 0;
    width: 35%;
}

.phplg {
    position: absolute;
    bottom: 1%;
    left: 1%;
    width: 20%;
}

.sflg {
    position: absolute;
    top: 1%;
    left: 1%;
    width: 20%;
}

.reactlg {
    position: absolute;
    bottom: 1%;
    left: 1%;
    width: 25%;
}



/* Section works end */
/* Form start */
.form {
	font-family: helvetica;
	height: 20vh;
    width: 50vw;
    background: #64a1b9;
	display: flex;
    box-shadow: 0 0 20px 0px black;
    border-radius: 20px;
    position: absolute;
    top: 10%;
    left: 25vw;
    justify-content: center;
    overflow: hidden;
    transition: .2s;
    z-index: 10;
    border: inset 7px #a7aab4;
}

.form::before {
    content: '';
    width: 150%;
    height: 300%;
    position: absolute;
    left: -360px;
    background-color: #000000;
    opacity: 0.6;
    transform: rotate(45deg);
    transition: .2s;
}

.form:hover::before {
    transform: rotate(45deg) translateY(-100%);
}

.form:hover {
    box-shadow: 0px 0px 20px #fff;
    border: inset 1px #a7aab4;
}

.scene {
	width: 650px;
	height: 70px;
	perspective: 400px;
	margin: auto;
	position: relative;
	transition: opacity 0.5s;
	z-index: 2;
}

.scene.end {
	opacity: 0;
	transition-delay: 0.25s;
	transition: opacity 0.5s;
	z-index: 0;
}

.welcome-form {
	opacity: 0;
	width: 100%;
	position: absolute;
	height: 100%;
	display: flex;
	transition-delay: 0.25s;
	transition: opacity 0.5s;
}

.welcome-form.show {
    opacity: 1;
}

.welcome-form .content-welcome {
	font-size: 2.5rem;
    color: #ffffff;
    position: absolute;
    top: 40%;
    left: 32%;
}

.cube {
	width: 100%;
	height: 100%;
	position: relative;
	transform-style: preserve-3d;
	transform: translateZ(-100px);
}

.steps {
	position: absolute;
	top: 140%;
	display: flex;
	width: 100%;
	justify-content: center;
}

.steps .dot {

	width: 15px;
	height: 15px;
	background: rgba(0, 0, 0, 0.75);
	border-radius: 100%;
	margin: 0 10px;
	transition: 0.25s;
}

.steps .dot.done {
	background: rgba(255, 255, 255, 0.75);
}

.cube__face {
	position: absolute;
	width: 100%;
	height: 100%;
	font-size: 40px;
	font-weight: bold;
	transition: transform 0.5s;
	opacity: 0;
	background: #ffffff;
	border-radius: 5px;
}

.cube__face--front {
	transform: rotateY(0deg) translateZ(35px);
	opacity: 1;
	box-shadow: 15px 15px 50px rgba(0, 0, 0, 0.5);
}

.cube__face--top {
	transform: rotateX(90deg) translateZ(35px);
	opacity: 1;
}

.cube__face--top .container {
	opacity: 0;
	transition: opacity 0.5s;
}

.cube__face--bottom {
	transform: rotateX(-90deg) translateZ(35px);
}

.hidden {
	display: none;
}

input:not([type="radio"]),
select {
    position: absolute;
    top: -100px;
    left: 10%;
	display: block;
	margin: 0;
	width: 50%;
	border: none;
	background-color: transparent;
	color: #202020;
	text-overflow: ellipsis;
	font-weight: normal;
	font-size: 1.5rem;
	height: 100%;
}

input:focus,
select:focus {
	outline: none;
}

input::placeholder {
	color: #a0a0a0;
}

.cube__face .container {
	height: 100%;
	width: 100%;
	position: relative;
	padding-right: 185px;
	padding-left: 50px;
}

div.btn.show {
	opacity: 1 !important;
}

div.btn.show span {
	display: block !important;
}

div.btn {
	position: absolute;
	right: 15%;
	top: -100px;
	height: 100%;
	display: flex;
	transition: opacity 0.25s ease;
	opacity: 0;
}

div.btn span {
	color: #006aff;
	font-size: 1.25rem;
	padding: 10px 25px;
	border: 3px solid #04e081;
	border-radius: 40px;
	display: inline-block;
	margin: auto;
	cursor: pointer;
	transition: all 0.25s;
	display: none;
}

div.btn span:hover {
	color: #ffffff !important;
	background: #e90052;
}

input.label::placeholder {
	color: #202020 !important;
}

#step__1 .container,
#step__5 .container {
	display: flex;
	padding-right: 10px;
}

.radio {
	display: flex;
	align-items: center;
}

.right {
	display: flex;
    align-items: center;
    position: absolute;
    right: 5%;
    top: -80px;
}

.right label {
	font-size: 1.5rem;
	font-weight: normal;
}

#display{
    display: none;
    color: #fff;
    position: absolute;
    width: 50%;
    height: 200px;
    background: #00000024;
    right: 25%;
    top: 31%;
    border-radius: 20px;
    transform: translateY(20deg);
    text-align: center;
    padding: 20px;
    box-shadow: 0 0 20px black;
    overflow-wrap: break-word;
}

.fa-eye {
    display: none;
    position: absolute;
    top: 31%;
    left: 26%;
    font-size: 2.5em;
    opacity: 0.7;
    color: #565656;
}

.checkbox {
	padding: 4px;
	border: 3px solid #00d1c3;
	display: inline-block;
	width: 64px;
	border-radius: 40px;
	margin: auto 8px;
}

.checkbox .circle {
	height: 25px;
    width: 25px;
    position: absolute;
    left: 35%;
    top: 0;
	border-radius: 100%;
	background: #0070ff;
	display: block;
	transform: translateX(0px);
	transition: transform 0.25s ease, background 0.25s ease;
}

.checkbox.checked {
	background: #e90052;
}

.checkbox.checked .circle {
	transform: translateX(25px);
	background: white !important;
}

.checkbox.blue {
	border-color: #04f5ff;
}

.checkbox.blue .circle {
	background: #04f5ff;
}

.checkbox.checked.blue {
	background: #04f5ff;
}

.checkbox.yellow {
	border-color: #ebff00;
}

.checkbox.yellow .circle {
	background: #ebff00;
}

.checkbox.checked.yellow {
	background: #ebff00;
}

.checkbox.purple {
	border-color: #e90052;
}

.checkbox.purple .circle {
	background: #e90052;
}

.checkbox.checked.purple {
	background: #e90052;
}

.checkbox.green {
	border-color: #00ff85;
}

.checkbox.green .circle {
	background: #00ff85;
}

.checkbox.checked.green {
	background: #00ff85;
}

.checkbox.violet {
	border-color: #38003c;
}

.checkbox.violet .circle {
	background: #38003c;
}

.checkbox.checked.violet {
	background: #38003c;
}

.form-title {
    position: absolute;
    font-size: 1.5em;
}

.bg-circle {
    width: 100vw;
    height: 100vw;
    position: absolute;
    top: 17%;
    left: 0;
    border: dotted 55px #233e48;
    border-radius: 50%;
    opacity: 0.1;
    animation: circlebg 60s linear infinite;
}
@keyframes circlebg {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
    }
}

.bg-filter {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -2;
    background: #404052;
    opacity: 0.9;
}

.bg-filter img {
    position: absolute;
    opacity: 0.8;
    top: 0;
    width: 153%;
    height: 100%;
}
/* Form end */ 
.cv {
    position: absolute;
    bottom: 10%;
    left: 40%;
    width: 300px;
    height: 300px;
    background-color: #629db4b8;
    transition: .5s;
    cursor: pointer;
    transform: rotate(45deg);
}

.cv::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    background: black;
    z-index: -1;
    transition: .5s;
    opacity: 0.2;
}

.cv:hover {
    transform: scale(1.2);
}

.cv:hover::before {
    transform: rotate(45deg);
    z-index: -1;
}

.cv:hover > .cv-label {
    display: none;
}

.cv:hover > .cv-logo {
    opacity: 1;
}

.cv-label {
    transform: rotate(-45deg);
    position: absolute;
    top: 40%;
    left: 10%;
    font-size: 1.5em;
}

.cv-logo {
    position: absolute;
    top: -25%;
    width: 100%;
    opacity: 0;
    transition: .5s;
}













































